@model ScavengeRUs.Models.Entities.ApplicationUser
@inject ScavengeRUs.Data.ApplicationDbContext _db
@{
    ViewData["Title"] = "Add Player";
    var hunt = (Hunt)ViewData["Hunt"];
    List<ApplicationUser> usersList = new List<ApplicationUser>();
    var existingUsers = _db.ApplicationUsers.ToList();
    foreach (var user in existingUsers)
    {
        // the AddPlayerToHunt method expects an ApplicationUser, so we cast user to ApplicationUser
        usersList.Add((ApplicationUser)user);
    }
}

<h1>Add player to @hunt.HuntName</h1>
<h5>*will create user if not registered</h5>
<hr />

<div class="row">
    <div class="col-md-8">
        <h2>Registered Users</h2>
        @foreach (var user in usersList)
        {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <form asp-action="AddPlayerToHunt">

                            <td>@user.Email</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.PhoneNumber</td>
                            <td>
                                <div class="form-group">
                                    <input type="submit" value="Add" class="btn btn-primary mt-3" />
                                    <input type="hidden" asp-for="@user.Email" name="user.Email" />
                                    <input type="hidden" asp-for="@user.FirstName" name="user.FirstName" />
                                    <input type="hidden" asp-for="@user.LastName" name="user.LastName" />
                                    <input type="hidden" asp-for="@user.PhoneNumber" name="user.PhoneNumber" />
                                </div>
                            </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
        }
    </div>

</div>

<div>
    <a asp-action="ViewPlayers" asp-route-id="@hunt.Id">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
